@import "../css/App.css";

.titleCarousel{
  font-size: 2em;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 10%;
  margin-top: 10%;
  border-bottom: 3px solid var(--primary);
  border-radius: 15%;
} 




.carouselContainer {
  margin: 40% 0 15% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  perspective: 450px;

}
.right {
  width: 5%;
  font-size: 2em;
  position: relative;
  top: 8vh;
  left: -40%;
  cursor: pointer;
  color: var(--primary);
}
.left {
  width: 5%;
  font-size: 2em;
  position: relative;
  top: 8vh;
  left: 40%;
  cursor: pointer;
  color: var(--primary);
}

.carousel {
  transform-origin: center center -225px;
  transform-style: preserve-3d;
  transition: all 1s;
  border:2px solid red;
width: 90%;
margin-left: 0 auto;
}
.carouselCard {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -75px;
  width: 150px;
  height: 100px;
  transform-origin: center center;
  border-radius: 25%;
  border: 1px solid var(--primary);
  overflow: hidden;
  background: var(--darkBlue);
}


.carouselCard:hover .icon {
  opacity: 0.1;
  transition: all 2s;
  transform: scale(1.3);
}

.carouselCard h4 {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  color: var(--primary);
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease-in;
  text-shadow: -1px 0 #ebd197, 0 1px #ebd197, 1px 0 #ebd197, 0 -1px #ebd197;
}
.carouselCard:hover h4 {
  opacity: 1;
}
.carouselCard button {
  position: absolute;
  left: 0;
  top: 55px;
  font-size: 0.8em;
  width: 30%;
  margin: 0 33.5%;
  transition: 0.5s ease-in;
  opacity: 0;
  z-index: 2;
  text-decoration: none;
  text-align: center;
  color: var(--darkBlue);
  background: var(--primary);
  padding: 2%;
  border: 3px solid var(--primary);
  border-radius: 25%;
  cursor: pointer;
}
.carouselCard button:hover  {
  background: transparent;
  color: var(--primary);
}
.carouselCard:hover button {
  opacity: 1;
}
.icon {
  width: 35%;
  margin: 13% auto;
  font-size: 3.5em;
  transition: all 1s;
}

.carouselCard:nth-of-type(1) {
  transform: translate3d(0, 0, 0px) rotateY(0deg);
}
.carouselCard:nth-of-type(2) {
  transform: translate3d(160px, 0, -65px) rotateY(45deg);
}
.carouselCard:nth-of-type(3) {
  transform: translate3d(225px, 0, -225px) rotateY(90deg);
}
.carouselCard:nth-of-type(4) {
  transform: translate3d(160px, 0, -385px) rotateY(135deg);
}
.carouselCard:nth-of-type(5) {
  transform: translate3d(0, 0, -450px) rotateY(180deg);
}
.carouselCard:nth-of-type(6) {
  transform: translate3d(-160px, 0, -385px) rotateY(225deg);
}
.carouselCard:nth-of-type(7) {
  transform: translate3d(-225px, 0, -225px) rotateY(270deg);
}
.carouselCard:nth-of-type(8) {
  transform: translate3d(-160px, 0, -65px) rotateY(315deg);
}

/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .carouselContainer {
    margin: 30% 0 15% 0;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .titleCarousel{
    margin-top:5%;
   font-size: 2.5em;
  }
  .carouselContainer {
    margin: 25% 5% 10% 5%;
  }
  .wrapper {
    perspective: 900px;
  }
  .carousel {
    transform-origin: center center -450px;
  }
  .carousel h4 {
    top: 50px;
    font-size: 1.8em;
  }
  .carouselCard {
    margin-top: -200px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
  }
  .right {
    font-size: 4em;
    top: -9vh;
    left: -15vh;
  }
  .left {
    font-size: 4em;
    top: -9vh;
    left: 15vh;
  }
  .carouselCard button {
    top: 110px;
    width: 25%;
    justify-content: center;
    font-size: 0.9em;
    margin-left:38%;
  }
.icon{
    font-size: 7em;
}
  .carouselCard:nth-of-type(1) {
    transform: translate3d(0, 0, 0px) rotateY(0deg);
  }
  .carouselCard:nth-of-type(2) {
    transform: translate3d(320px, 0, -130px) rotateY(45deg);
  }
  .carouselCard:nth-of-type(3) {
    transform: translate3d(450px, 0, -450px) rotateY(90deg);
  }
  .carouselCard:nth-of-type(4) {
    transform: translate3d(320px, 0, -770px) rotateY(135deg);
  }
  .carouselCard:nth-of-type(5) {
    transform: translate3d(0, 0, -900px) rotateY(180deg);
  }
  .carouselCard:nth-of-type(6) {
    transform: translate3d(-320px, 0, -770px) rotateY(225deg);
  }
  .carouselCard:nth-of-type(7) {
    transform: translate3d(-450px, 0, -450px) rotateY(270deg);
  }
  .carouselCard:nth-of-type(8) {
    transform: translate3d(-320px, 0, -130px) rotateY(315deg);
  }
}


