@import "../css/App.css";
.listBox {
  margin-top: 10%;
  margin-bottom: 10%;
}
.listContainer {
  display: flex;
  flex-direction: row;
  height: 40vh;
  padding: 5%;
}
.reverse {
  flex-direction: row-reverse;
  background: var(--darkBlue);
}
.phone {
  width: 40%;
  padding-left: 5%;
}
.phone img {
  width: 70%;
  position: relative;
  top: 15%;
  left: 7%;
}

.projectDescription {
  width: 70%;
  padding: 5%;
}
.listContainer h3 {
  color: var(--primary);
  text-align: center;
}
.listContainer p {
  color: white;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.linkProject {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
}
.linkProject a {
  font-size: 1.5em;
  color: var(--primary);
}
.linkProject a:hover {
  transform: scale(1.1);
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .phone img {
    top: 10%;
    left: 8%;
  }
  .listContainer {
    font-size: 1.6em;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .listContainer {
    height: 90vh;
  }
  .phone img {
    width: 50%;
    top: 12.5%;
    left: 20%;
  }
  .projectDescription {
    font-size: 1.7em;
    padding: 8%;
  }
  .projectDescription h3 {
    font-size: 2em;
  }
}
