@import "../css/App.css";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: trasparent;
  z-index: 10000;
  transition: 0.4s ease-out;
}
.navHeader {
  display: flex;
  justify-content: space-between;
}
.navBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.navIcon {
  font-size: 1.6rem;

  color: var(--primary);
}
.navLogo {
  width: 30%;
  padding-top: 3%;
}
.navLinks {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  align-items: center;
}
.navLinks a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--primary);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.navLinks a:hover {
 transform: scale(1.5);
}

.showNav {
  height: 330px;
}



/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .navLogo {
    width: 40%;
  }
  .primaryBtn {
    width: 30%;
    font-size: 0.8em;
    margin: 4% 8%;
  }
  .logger {
    margin-right: 5%;
  }
  .logger button {
    width: 100%;
    font-size: 1em;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .navBtn {
    display: none;
  }
  .navCenter {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .navLinks {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .navLinks a {
    width: 130px;
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  
  .navLogo {
    width: 30%;
  }

  /* logger */

  .logger {
    display: flex;
    margin: 0 auto;
  }

  .logger button {
    width: 100%;
    font-size: 1em;
  }
}
